@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-roboto : "Roboto", sans-serif;
    --font-sans:
        "Roboto", sans-serif;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-typography : var(--typography);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-input : var(--input);
    
    
    --color-card-background: var(--card-background);
    --color-card-border : var(--card-border);

    --color-popover-background : var(--popover-background);
    --color-popover-border : var(--popover-border);

    --color-btn-background-default: var(--btn-background-default);
    --color-btn-background-hover-default: var(--btn-background-hover-default);
    --color-btn-background-action: var(--btn-background-action);
    --color-btn-background-hover-action: var(--btn-background-hover-action);
    --color-btn-outline: var(--btn-outline);

    --color-dropdown-btn-background:var(--dropdown-btn-background);
    --color-dropdown-btn-backgorund-hover:var(--dropdown-btn-backgorund-hover);
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
}

:root {
    --background: oklch(0.9761 0 0);
    /* --background: oklch(0.976 0 0.89876); */
    --forground : oklch(0.145 0 0.89876);
    --typography: oklch(0.145 0 0.89876);
    --card-background:oklch(0.985 0 1);
    --card-border:oklch(0.92 0 1);

    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.95 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --input: oklch(0.922 0 0);

    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);

    --popover-background:oklch(0.985 0 1);
    --popover-border:oklch(0.92 0 1);

    --radius: 0.625rem;

    --btn-background-default: 0 0% 97%;
    --btn-background-hover-default: 240 6% 90%;
    --btn-background-action: 262 83% 58%;
    --btn-background-hover-action: 258 90% 66%;
    --btn-outline: 240 6% 90%;
    --dropdown-btn-background:0 0% 100%;
    --dropdown-btn-backgorund-hover:240 6% 90%;
    /* --card-background: 0 0% 100%;
    --card-shadow : 240 6% 90%; */
}

.dark {
    --background: oklch(50%, 0%, 89.876%);
    --forground : 0 0% 98%;
    --typography: 0 0% 98%;
    --btn-background-default: 0 0% 3.9%;
    --btn-background-hover-default: 240 4% 16%;
    --btn-background-action: 262 83% 58%;
    --btn-background-hover-action: 258 90% 66%;
    --dropdown-btn-background:240 5% 26%;
    --dropdown-btn-backgorund-hover:240 4% 16%;
    --btn-outline: 240 4% 16%;
    --card-background:240 4% 16%;
}

@layer base {
    .scrollabe-element{
    overflow-y: auto;
    }

    .scrollabe-element::-webkit-scrollbar {
    width: 6px;
    border-radius: calc(100000 * 1px);
    }

    .scrollabe-element::-webkit-scrollbar-track {
    background: #f1f1f1;
    }

    .scrollabe-element::-webkit-scrollbar-thumb {
    background: #888;
    }

    .scrollabe-element::-webkit-scrollbar-thumb:hover {
    background: #555;
    }

    .scrollabe-element::-webkit-scrollbar-button {
    display: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    body {
        @apply bg-background text-typography font-[var(--font-roboto)];
    }
}
